.Dashboard {
  scrollbar-gutter: stable;
  margin-top: 150px;

  max-width: 1165px;
  min-width: 760px;
  height: 530px;
  overflow-y: auto;
  overflow-x: auto;
}
.Dashboard::-webkit-scrollbar {
  display: none;
}
.StudentaverageChart {
  max-width: 80%;
  min-width: 80%;
  max-height: 80%;
  min-height: 80%;
}
.StudentComefrom {
  max-width: 80%;
  min-width: 80%;
  max-height: 80%;
  min-height: 80%;
}
#canvas-container {
  height: 60vh;
  width: 60vw;
  position: relative;
}
