/* .box_chart{
  position: relative;
  width: 40%;
  height: 50%;
  margin-top: 12%;
  z-index: 10;
} */
.char2 {
  position: relative;

  z-index: 10;
}
.charStudentcount {
  position: relative;

  margin-top: 2%;
  z-index: 10;
  overflow: hidden;
  overflow-y: auto;
}
