/* @import url("https://cdn.syncfusion.com/ej2/material.css"); */

.char {
  position: relative;
  width:95%;
  height: 50%;
  margin-left: 20px;
}

.char_1 {
  position: relative;
  width: 95%;
  height: 50%;
  margin-left: 20px;
  margin-top: 250px;
}
